<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Books Project</title>
  <link rel="shortcut icon" href="images/books.svg" type="image/x-icon">
  <link rel="stylesheet" href="stylesheets/stylesEdit.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
  <form action="/edit-review-on-DB" method="post">
    <label class="signika" for="rating">Enter new rating for <%= title %> by <%= author %> : </label>
    <input type="text" name="rating" id="rating">
    <input type="hidden" name="id" value="<%= id %>">
    <button class="signika">Submit review</button>
  </form>
</body>

</html>